---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found ">
  <main class="container flex h-screen items-center justify-center">
    <h1 class="text-4xl md:text-8xl font-bold text-white ">Page Not Found</h1>
  </main>
</BaseLayout>
