---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Tailwind Test";
---

<BaseLayout title={title}>
  <main class="">
    <section
      class=" "
    >
      <div class="self-end">
        <h1
          class="text-4xl md:text-8xl pb-5 font-bold text-transparent bg-gradient-to-r from-purple-600 to-blue-700 bg-clip-text"
        >
          Welcome,
        </h1>
        <p class="text-base md:text-xl text-gray-200 pb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          accusantium distinctio mollitia non molestiae optio sint accusamus
          excepturi maxime voluptate quaerat quia, nemo rerum possimus. Possimus
          adipisci sapiente ea cum?
        </p>
        <button
          class=" bg-gradient-to-r from-purple-600 to-blue-700 text-white font-bold px-4 py-2  rounded-full shadow-lg text-lg md:text-2xl"
        >
          Know More
        </button>
        <div class=""></div>
      </div>

      <div class="h-20 bg-blue-500 w-screen text-white py-10">This is from index.astro </div>
      <!-- change the above div's bg to some uncommon colors  like bg-red-200 or bg-blue-200 -->
    </section>
  </main>
</BaseLayout>
